# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/artifacts
**/build
**/cache
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist
**/node_modules
**/out
**/forge-cache

# files
*.env
*.log
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# types
src/types/*
!src/types/common.ts
!src/types/ERC20Wnft.ts
!src/types/ERC721Pool.ts
!src/types/ERC721PoolFactory.ts
!src/types/PeripheralERC721Pool.ts
!src/types/GodModeERC721Pool.ts
!src/types/GodModeERC20Wnft.ts
!src/types/V2Migrator.ts

# factories
!src/types/factories
src/types/factories/*
!src/types/factories/ERC20Wnft__factory.ts
!src/types/factories/ERC721Pool__factory.ts
!src/types/factories/ERC721PoolFactory__factory.ts
!src/types/factories/PeripheralERC721Pool__factory.ts
!src/types/factories/V2Migrator__factory.ts
